.navText {
    color: white;
}
.cityTxt {
    text-align: center;
}
.rBox {
    border: solid black 1px;
    align-content: center;
    border-radius: 12px;
}
.stateTxt {
    text-align: center;
    margin-top: 15px;
}
.stateBox {
    border: solid black 1px;
    align-content: center;
    border-radius: 12px;
    padding: 10px 10px 10px;
}
.rTxt {
    text-align: center;
    margin-top: 15px;
}
.humidityImg {
    margin-left: 3.2rem;
}
.pressureImg {
    width: 120px;
    margin-left: 4rem;
}
.windSpeedImg {
    width: 120px;
    margin-left: 3.8rem;
}
.tempTxt {
    text-align: center;
    margin-right: 10rem;
}
.tempBox {
    align-content: center;
}
.tempImg {
    width: 350px;
}
.feelsLikeTxt {
    text-align: center;
    margin-right: 10rem;
}
.feelsLikeBox {
    align-content: center;
}
.feelsLikeImg {
    width: 350px;
}